// COLORS 

$primary-blue: #18ACC4; 
$secondary-blue: #007A8D; 
$primary-yellow: #FDCB13; 
$secondary-yellow: #DE9E1F; 
$green: #0FA866;
$black-text: #1F2D30; 
$gray-background: #FBFBFB;
$lightgray-border: #EEEFEF;
$modal-overlay: #1f2d30d8;